@model User

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2 class="text-uppercase text-center">Sign In</h2>
        </div>
    </div>
    <div  class="col-md-5">
        <hr />
    </div>
    
    <div class="row">
        <div class="col-md-5">
            <form method="post" enctype="multipart/form-data" onsubmit="return validatePassword()">
                

                <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label"></label>
                    <input asp-for="@Model.Email" class="form-control" />
                </div>

                

                <div class="mb-3">
                    <label asp-for="@Model.Password" class="form-label"></label>
                    <input asp-for="@Model.Password" class="form-control" type="password" id="Password" />
                    
                </div>


                <div class="mb-3">
                   
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                </div>
            </form>
            <br />
            <h5>Don't have an account? <a asp-controller="iStart" asp-action="Create" class="text-danger">Register</a></h5>


        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}